name: Daily Automation

on:
  schedule:
    - cron: '30 15 * * *'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Python packages
        run: pip install pandas openpyxl selenium webdriver-manager

      - name: Run script
        env:
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
        run: python scrape_and_mail.py
