name: Daily Automation

on:
  schedule:
    - cron: '30 15 * * *'   # 9 PM India time
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run script
        run: python scrape_and_mail.py
